html
  head
    title Gauchos of the Same Interest
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    style. 
       table.ui.celled img { display: inline-block; }
  body    
    div(class='div-class')
      main#main
      center
        img(src='https://github.com/sansangela/Womxn20/blob/master/front-end/raccoon.png?raw=true' width='280')
      h1.ui.center.aligned.header Gauchos of Same Interest
      .ui.container
      table.ui.celled.table.center.aligned
        thead
          tr
            th Avatar
            th Id
            th Name
            th Keywords
            th Follow
        tbody
          each result in data
            tr
              td
                img.ui.mini.rounded.image(src=result.user_thumbnail)
              td #{result.user_id}
              td #{result.user_name}
              td #{result.user_keyword_hist}
              td <button class="btn btn-info btn-lg" type="button">follow</button>